<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337765528841-if1sonl6v3lnfa6a37m493l8ev4ce861.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337765528841-if1sonl6v3lnfa6a37m493l8ev4ce861</string>
	<key>API_KEY</key>
	<string>AIzaSyAxjdChh7jctRdrcbG3AzCw9PjSw5BxKco</string>
	<key>GCM_SENDER_ID</key>
	<string>337765528841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sg.ri.nianny.SkooLink</string>
	<key>PROJECT_ID</key>
	<string>joke-app-a504f</string>
	<key>STORAGE_BUCKET</key>
	<string>joke-app-a504f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337765528841:ios:75d2a3bfaffc69cd5e0fd8</string>
</dict>
</plist>