<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487834470306-6aq4vuh5jb36g265hgve143uqrrg66cd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487834470306-6aq4vuh5jb36g265hgve143uqrrg66cd</string>
	<key>API_KEY</key>
	<string>AIzaSyBVNyR-LKuNwyLYqucf4FT0l9jaYrquaEo</string>
	<key>GCM_SENDER_ID</key>
	<string>487834470306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sg.ri.nianny.Clicker</string>
	<key>PROJECT_ID</key>
	<string>clickerapp-d9682</string>
	<key>STORAGE_BUCKET</key>
	<string>clickerapp-d9682.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487834470306:ios:7bf937008e1a8eb4fe94fb</string>
</dict>
</plist>